*.so
*.d

TestPlots_bias0_stat1
TestPlots_bias0_stat1000
TestPlots_bias0_stat1_ptrange
TestPlots_bias0_stat1_sat
TestPlots_bias0_statInf
TestPlots_bias10_stat1
TestPlots_bias5_stat1
TestPlots_bias5_stat1_ptrange